.ouibounce-exit-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

/*
  The library uses inline styles to set a display:block instead using a
  formatter class, so we need to handle this.
*/
.ouibounce-exit-modal--visible {
  display: flex !important;
}

.ouibounce-exit-modal__backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: fadein 0.5s;
  backdrop-filter: blur(5px);
}

.ouibounce-exit-modal__layer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  max-height: 60%;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 4px;
  animation: popin 0.3s;
  overflow: auto;
}

.ouibounce-exit-modal__layer-title {
  flex: 0 0 auto;
  font-size: 1rem;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.ouibounce-exit-modal__layer-body {
  flex: 1 1 auto;
  overflow: auto;
  padding: 20px 35px;
  font-size: 0.9em;
}

.ouibounce-exit-modal__layer-footer {
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popin {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  85% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
