{% block wrapper %}
  <div id="ouibounce-exit-modal" class="ouibounce-exit-modal">
    {% block backdrop %}
      <div class="ouibounce-exit-modal__backdrop ouibounce-close"></div>
    {% endblock backdrop %}
    {% block layer %}
      <div class="ouibounce-exit-modal__layer">
        {% if title %}
          {% block title %}
            <h2 class="ouibounce-exit-modal__layer-title">
              {{ title }}
            </h2>
          {% endblock title %}
        {% endif %}

        {% if body %}
          {% block body %}
            <div class="ouibounce-exit-modal__layer-body">
              {{ body }}
            </div>
          {% endblock body %}
        {% endif %}

        {% if footer %}
          {% block footer %}
            <div class="ouibounce-exit-modal__layer-footer ouibounce-close">
              {{ footer }}
            </div>
          {% endblock footer %}
        {% endif %}
      </div>
    {% endblock layer %}
  </div>
{% endblock wrapper %}
